<div class="box-1">
    <h2>Welcome to Variable of SCSS series</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, qui iusto ducimus reprehenderit facilis harum alias. Consectetur corporis placeat officia tenetur odit! Consectetur molestiae qui odio tenetur aspernatur facere sapiente?
        <a href="#">Read more</a>
    </p>
</div>
<br>
<div class="box-2">
    <h2>Welcome to Variable of SCSS series</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, qui iusto ducimus reprehenderit facilis harum alias. Consectetur corporis placeat officia tenetur odit! Consectetur molestiae qui odio tenetur aspernatur facere sapiente?
        <a href="#">Read more</a>
    </p>
</div>
<br>
<div class="box-3">
    <h2>Welcome to Variable of SCSS series</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, qui iusto ducimus reprehenderit facilis harum alias. Consectetur corporis placeat officia tenetur odit! Consectetur molestiae qui odio tenetur aspernatur facere sapiente?
        <a href="#">Read more</a>
    </p>
</div>
<br>
<div class="box-4">
    <h2>Welcome to Variable of SCSS series</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, qui iusto ducimus reprehenderit facilis harum alias. Consectetur corporis placeat officia tenetur odit! Consectetur molestiae qui odio tenetur aspernatur facere sapiente?
        <a href="#">Read more</a>
    </p>
</div>

