<div>
  <h2 class="myClass2">Welcome to Loops of SCSS series</h2>
</div>

<!-- If Loops -->
<div class="myClass4">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis commodi
    deserunt, consequatur optio facilis in nobis illo. Quo eos amet odit totam
    unde, incidunt, tempora laboriosam, quibusdam hic dolore blanditiis.
  </p>
</div>

<!-- For Loops -->

<div >
<div class="box-100">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis commodi
    deserunt, consequatur optio facilis in nobis illo. Quo eos amet odit totam
    unde, incidunt, tempora laboriosam, quibusdam hic dolore blanditiis.
  </p>
</div>

<div class="box-200">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis commodi
    deserunt, consequatur optio facilis in nobis illo. Quo eos amet odit totam
    unde, incidunt, tempora laboriosam, quibusdam hic dolore blanditiis.
  </p>
</div>

<div class="box-300">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis commodi
    deserunt, consequatur optio facilis in nobis illo. Quo eos amet odit totam
    unde, incidunt, tempora laboriosam, quibusdam hic dolore blanditiis.
  </p>
</div>

<div class="box-400">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis commodi
    deserunt, consequatur optio facilis in nobis illo. Quo eos amet odit totam
    unde, incidunt, tempora laboriosam, quibusdam hic dolore blanditiis.
  </p>
</div>

<div class="box-500">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis commodi
      deserunt, consequatur optio facilis in nobis illo. Quo eos amet odit totam
      unde, incidunt, tempora laboriosam, quibusdam hic dolore blanditiis.
    </p>
  </div>
</div>
