<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="courseName">Course Name</label>
            <input
              type="text"
              id="courseName"
              class="form-control"
              formControlName="courseName"
              required>
          </div>
          <div class="error" *ngIf="this.courseForm.get('courseName').touched">
                Please enter valid course name !
          </div>
          <div class="col-sm-2 form-group">
            <label for="courseDesc">Course Description</label>
            <input
              type="text"
              id="courseDesc"
              class="form-control"
              formControlName="courseDesc"
              minlength="80"
              required>
          </div>
          <div class="col-sm-2 form-group">
            <label for="courseAmount">Course Amount</label>
            <input
              type="number"
              id="courseAmount"
              class="form-control"
              formControlName="courseAmt"
              minlength="5"
              required>
          </div>
        </div>

        <div class="col-sm-2 form-group" formArrayName="skills">
          <label for="course">Skills</label>
          <ng-container  *ngFor="let skill of courseForm.get('skills').controls">
          <input
            type="text"
            class="form-control mt-2"
            placeholder="Add skills"
            formControlName="{{i}}"
            >
          </ng-container>
            <button
            class="btn btn-success"
            type="submit"
            (click)="onAdd()"><i>+</i>Add Skills</button>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button
              class="btn btn-success"
              type="submit">Add</button>
            <button
              class="btn btn-danger"
              type="button">Delete</button>
            <button class="btn btn-primary" 
            type="button" 
            (click)="onClear()">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>