<!-- <section>
  <app-variable-nesting></app-variable-nesting>
</section> -->

<!-- <section>
  <app-extends></app-extends>
</section> -->

 <!-- <section>
  <app-functions></app-functions>
</section> -->

 <!-- <section>
  <app-interpolation></app-interpolation>
  </section>  -->

 <!-- <section>
<app-loops></app-loops>
</section>  -->

<!-- <section>
  <app-templatedriven-form></app-templatedriven-form>
</section> -->

 <section>
  <app-reactive-form></app-reactive-form>
</section> 

<!-- <section>
  <router></router>
</section> -->
